In [4]:
import pandas 
L1=[1,2,3,4]
series=pandas.Series(L1)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
print(pandas.__version__)

1.1.5

In [7]:
import pandas as pd
dict={
    'Name':["Gourav","Nidhi","sourav"],
    'salary':[50000,40000,30000],
     "food":["kajukatli","sonf","maggie"],
}
df=pd.DataFrame(dict)
print(df)

     Name  salary       food
0  Gourav   50000  kajukatli
1   Nidhi   40000       sonf
2  sourav   30000     maggie

In [11]:
import pandas as pd
df={"one":pd.Series([1,2,3],index=['a','b','c']),
   "two":pd.Series([1,2,3,4],index=['a','b','c','d'])}

   
print(df)

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64}

In [12]:
import pandas as pd
df={"one":pd.Series([1,2,3],index=['a','b','c']),
   "two":pd.Series([1,2,3,4],index=['a','b','c','d'])}
df

{'one': a    1
 b    2
 c    3
 dtype: int64, 'two': a    1
 b    2
 c    3
 d    4
 dtype: int64}